.app-wrapper{
  display: grid;
  grid-template-areas: 
  "head head"
  "navigation contents";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 60px 1fr;
  margin: 0 auto;
  max-width: 1280px;
}


